* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lexend;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
}

.header-text {
    color: #2d0d00;
}

.description {
    background-color: #d67e0cff;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    margin-top: 20px;
    max-width: 400px;
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
}


.start-button {
    display: inline-block;
    background-color: #d67e0cff;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 30px;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
}

.image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: auto;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.image-container img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



