<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Ingredients</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="ingredients-section">
                <h4>YOUR INGREDIENTS</h4>
                <div>
                    <ul id="ingredientList"></ul>
                </div>
                <button class="continue-button">CONTINUE</button>
            </div>
            <div class="input-section">
                <h3>ADD YOUR</h3>
                <h1>INGREDIENTS</h1>
                <p class="description">Not sure what to make with everything in your fridge? Food about to go bad? Enter your ingredients and we will find you recipes! Our goal is to help you eliminate food waste!</p>
                <form id="ingredientForm">
                    <input type="text" id="ingredientInput" placeholder="Ingredient" required>
                    <input type="number" id="gramsInput" placeholder="Grams" required>
                    <button type="submit" class="enter-button">ENTER</button>
                </form>
            </div>
    </body>
</html>