<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Undecided - Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="header-text">
                <h4 style="font-size:17px;">Welcome to</h4>
                <h1 style="font-size:80px;">Undecided</h1>
            </div>
            <div class="description">
                <p>HERE TO <strong>ELIMINATE YOUR FOOD WASTE</strong><br>
                    THROUGH AMAZING RECIPES! <br>
                    ENTER WHAT’S ALREADY IN YOUR FRIDGE.
                </p>
            </div>
            <a href="#start_url" class="start-button">LETS START! <span> &arr;</span></a>
            <div class="image-container">
                <img src = "img.png" width = "" height="">
            </div>
        </div>
    </body>
</html>


